.banner {
  height: 150vh;
  background-image: url("logo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #74502d;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.content h1 {
  font-size: 80px;
  margin-top: 80px;
  line-height: 160px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.content p {
  font-size: 20px;
  margin: 5px auto;
  font-weight: 100;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid hsl(208, 84%, 22%);
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: hsl(208, 84%, 22%);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
/* -------------video------------- */
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content1 {
  position: relative;
  bottom: 0;
  background: hsl(208, 85%, 13%);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.tp {
  display: flex;
  flex-direction: row;
}
.tp:before,
.tp:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid white;
  margin: auto;
}
/* ---------------login------------------ */
.body1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(
    to bottom,
    hsl(208, 85%, 13%),
    hsl(208, 84%, 22%),
    hsl(208, 83%, 30%)
  );
}
.main {
  width: 350px;
  height: 500px;
  background: hsl(208, 84%, 22%);
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.b {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: hsl(208, 84%, 22%);
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 25px;
  transition: 0.2s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.b:hover {
  background: transparent;
  color: hsl(208, 84%, 22%);
  border-color: hsl(208, 84%, 22%);
  border-style: solid;
  border-width: 1px;
}
.b1 {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: hsl(208, 84%, 22%);
  background: #ffff;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 25px;
  transition: 0.2s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.b1:hover {
  background: transparent;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
#b1 {
  text-decoration: none;
  color: hsl(208, 84%, 22%);
}
#b1:hover {
  color: hsl(0, 0%, 100%);
}

.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: hsl(208, 84%, 22%);
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
a {
  text-decoration: none;
  color: #fff;
}

#b {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
#b:hover {
  color: hsl(208, 84%, 22%);
}
